*{
  margin: 0;
  color: white;
  /* padding: 0; */
}
/* HEADER */
nav{
  background-color: var(--color-main);
  /* height: 10vh; */
  font-family: var(--font-main);
}
.logo{
  height: 7vh;
  margin-left: 2.5vh !important;
}
.navbar-brand{
  padding-top: 0;
  padding-bottom: 0;
}
.navbar-toggler:focus{
  box-shadow: none;
}
.navbar-nav{
  align-items: center;
}
a {
  margin-right: 1rem;
  cursor: pointer;
}
.nav-link:hover{
  color:  var(--color-secundary);
}
.nav-link:focus, .nav-link:hover {
  color: var(--color-secundary);
}
.navbar-expand-lg .navbar-collapse{
  justify-content: flex-end;
}

body{
  height: 85vh;
}
.btnPlus{
  background-color:  var(--color-main)!important;
}
.card-header{
  background-color:  var(--color-main)!important;
}
.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
.shadow-textarea textarea.form-control::placeholder {
  font-weight: 300;
}
.shadow-textarea textarea.form-control {
  padding-left: 0.8rem;
}

footer{
  background-color: var(--color-main);
  font-family: var(--font-main);
  height: 5vh;
}
