*{
  font-family: var( --font-main);
}

.logo-home{
  height: 35vh;
}

.text{
  color: var(--color-main);
  font-family: var( --font-main);
}

.borderInput{
  border: 3px solid var(--color-main)!important;
  background-color: var(--color-light) !important;
}

.btn{
  font-family: var( --font-main);
}

.btnGoogle{
  background-color:  var(--color-main)!important;
}

.googleIcon{
  height: 15px;
}

.custom-form {
  /* min-width: 300px;
  max-width: 60%; */
  /* margin: 0px auto; */
  background: rgba(255, 255, 255, 0.15);
  padding: 2rem 3rem;
  /* margin: auto; */
  border-radius: 2.5rem;
  background-color: #ecf0f3;
  box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #ffffff;
  /* color: black; */
}

.modal-footer{
  margin: 0;
}

/* .modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
.shadow-textarea textarea.form-control::placeholder {
  font-weight: 300;
}
.shadow-textarea textarea.form-control {
  padding-left: 0.8rem;
} */