<!-- <p>login works!</p> -->
<section class="mt-5">
  <figure>
    <img src="../../../assets/logo.png" alt="Icon logo" class="logo-home mx-auto d-block mt-5">
  </figure>
</section>

<!-- <h2 class="text-center fs-1"> Bitzy Notes</h2> -->

<section class="row mx-auto container">
  <section class="col-sm-4 mx-auto d-block mt-3">

    <form class="col form-group">
      <div class="form-group">
        <label for="exampleInputEmail1" class="text fs-5">Email address</label>
        <input type="email" class="form-control mb-3 border border-secondary rounded-pill borderInput"
          id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1" class="fs-5 text">Password</label>
        <input type="password" class="form-control mb-3 border border-secondary rounded-pill borderInput"
          id="exampleInputPassword1" placeholder="Password">
      </div>
    </form>

  </section>
</section>


<section class="col">
  <div class="mx-auto d-block text-center mb-3 col-sm-8">
    <button type="button" class="btn btn-primary" style="width: 20%" routerLink="/home">Log me in</button>
  </div>
  <div class="mx-auto d-block text-center mb-3 col-sm-8">
    <button type="button" class="btn btn-primary btnGoogle" style="width: 20%">Log in with<img src="../../../assets/google.png" alt="Icon google" class="googleIcon"></button>
  </div>
  <div class="mx-auto d-block text-center">
    <span><a href="#/register" id="linkRegister" class="link mx-auto d-block col-sm-6 fs-4">Sign up now!</a></span>
  </div>
</section>

<!-- <section>
  <div id="myModalReset" class="modal" style="display: none;">
    <div class="modal-content">
      <p>Email</p>
      <input type="email"  class="inputType" id="emailReset" placeholder="user@example.com"/><br>
      <span id = "errorReset" class="error"></span>
      <div>
        <button class = "button" id="btnSend">Send</button>
        <button class = "button" id="btnCancelReset">Cancel</button>
      </div>
    </div>
  </div>
</section> -->
<!-- <i class="fab fa-google google"></i></button> -->
<!-- <a href=""><i class="fab fa-google google"></i></a> -->


<!-- <form class="formLogin">
  <p class="fs-5 text">Email</p>
  <input type="email"  class="mb-2" placeholder="user@example.com"/>
  <span id="errorEmailLogin" class="error"></span><br>
  <p class="fs-5">Password</p>
  <input type="password"  class="inputType" id="passwordLogin" placeholder="Password" autocomplete="on"/>
  <span id="errorpasswordLogin" class="error"></span><br>
  <span id="errorAllLogin" class="error"></span><br>
  <section class="buttonSection">
    <a href="" class="linkResetPassword">forgot password?</a>
    <button  class="button" id="btnLogin">Login</button>
    <span id="msgSendEmail" class="successfully"></span><br>
  </section>
  <section class="sectionIcons">
  <a href=""><i class="fab fa-google google"></i></a>
  </section>
</form>-->